.page {
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo {
  width: 200px;
  height: 220px;
  background-color: green;
  margin: 40px;
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
}

.image {
  height: 100%;
  width: 100%;
}
